<a href="https://colab.research.google.com/github/gabgovar/Apache-Spark/blob/main/Spark_DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Spark DataFrame

## Montando o Google Colab no Google Drive

In [13]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Instalando as Demendências do Hadoop Spark no Google Colab

In [3]:
# instalar as dependências
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
!tar xf spark-2.4.4-bin-hadoop2.7.tgz
!pip install -q findspark

## Configurando as Demendências do Hadoop Spark no Google Colab

In [4]:
# configurar as variáveis de ambiente
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"

# tornar o pyspark "importável"
import findspark
findspark.init('spark-2.4.4-bin-hadoop2.7')
findspark.find()

'spark-2.4.4-bin-hadoop2.7/python/pyspark'

## Leitura de um DataFrame pelo Spark

In [36]:
from pyspark.sql import SparkSession

spark = SparkSession\
        .builder\
        .appName("Spark_DataFrames")\
        .getOrCreate()

* A primeira linha são as informações do DF, então o .option("header", True) insere o cabeçalho no DF

In [37]:
df = spark.read.option("header", True).csv('/content/drive/MyDrive/PySpark/data/StudentData.csv')
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 02984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

## Schema de um DataFrame

* option("inferSchema", True) ⇒ define automáticamente o Type do dado no interior do DF

* se estiver utilizando um delimitador diferente da virgula (,), por exemplo tab (tsv, separado por tab), dentro do options inserir o comando .option(delimiter = '\t')

In [23]:
df = spark.read.options(inferSchema='True', header = 'True', delimiter = ',').csv('/content/drive/MyDrive/PySpark/data/StudentData.csv')

In [24]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [25]:
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

## Fornecendo o Schema DataFrame

In [26]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

schema = StructType([
                     StructField("age", IntegerType(), True),
                     StructField("gender", StringType(), True),
                     StructField("name", StringType(), True),
                     StructField("course", StringType(), True),
                     StructField("roll", StringType(), True),
                     StructField("marks", IntegerType(), True),
                     StructField("email", StringType(), True)
])

In [29]:
df = spark.read.options(header = 'True').schema(schema).csv('/content/drive/MyDrive/PySpark/data/StudentData.csv')
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

## Criando um DF a partir de um RDD

In [45]:
from pyspark.sql import SparkSession
spark = SparkSession\
        .builder\
        .appName("Spark DataFrame")\
        .get0rCreate()

AttributeError: ignored

In [52]:
from pyspark import SparkConf, SparkContext
conf = SparkConf().setAppName("RDD")
sc = SparkContext.getOrCreate(conf=conf)

rdd = sc.textFile('/content/drive/MyDrive/PySpark/data/StudentData.csv')
headers = rdd.first()

rdd = rdd.filter(lambda x: x!= headers).map(lambda x: x.split(','))
rdd = rdd.map(lambda x: [int(x[0]), x[1], x[2], x[3], x[4], int(x[5]), x[6]])

In [53]:
columns = headers.split(",")
dfRdd = rdd.toDF(columns)
dfRdd.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 02984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [54]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

schema = StructType([
                     StructField("age", IntegerType(), True),
                     StructField("gender", StringType(), True),
                     StructField("name", StringType(), True),
                     StructField("course", StringType(), True),
                     StructField("roll", StringType(), True),
                     StructField("marks", IntegerType(), True),
                     StructField("email", StringType(), True)
])

In [55]:
dfRdd2 = spark.createDataFrame(rdd, schema=schema)
dfRdd2.show()
dfRdd2.printSchema()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 02984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

## Select colunas do DataFrame

In [56]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Spark DataFrames").getOrCreate()

In [58]:
df = spark.read.options(header = 'True', inferSchema = 'True').csv('/content/drive/MyDrive/PySpark/data/StudentData.csv')
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

* Como selecionar colunas no DF

In [61]:
df.select("name","gender").show()

+----------------+------+
|            name|gender|
+----------------+------+
| Hubert Oliveras|Female|
|Toshiko Hillyard|Female|
|  Celeste Lollis|  Male|
|    Elenore Choy|Female|
|  Sheryll Towler|  Male|
|  Margene Moores|  Male|
|     Neda Briski|  Male|
|    Claude Panos|Female|
|  Celeste Lollis|  Male|
|  Cordie Harnois|  Male|
|       Kena Wild|Female|
| Ernest Rossbach|  Male|
|  Latia Vanhoose|Female|
|  Latia Vanhoose|Female|
|     Neda Briski|  Male|
|  Latia Vanhoose|Female|
|  Loris Crossett|  Male|
|  Annika Hoffman|  Male|
|   Santa Kerfien|  Male|
|Mickey Cortright|Female|
+----------------+------+
only showing top 20 rows

In [62]:
df.select(df.name, df.email).show()

+----------------+--------------------+
|            name|               email|
+----------------+--------------------+
| Hubert Oliveras|Annika Hoffman_Na...|
|Toshiko Hillyard|Margene Moores_Ma...|
|  Celeste Lollis|Jeannetta Golden_...|
|    Elenore Choy|Billi Clore_Mitzi...|
|  Sheryll Towler|Claude Panos_Judi...|
|  Margene Moores|Toshiko Hillyard_...|
|     Neda Briski|Alberta Freund_El...|
|    Claude Panos|Sheryll Towler_Al...|
|  Celeste Lollis|Nicole Harwood_Cl...|
|  Cordie Harnois|Judie Chipps_Clem...|
|       Kena Wild|Dustin Feagins_Ma...|
| Ernest Rossbach|Maybell Duguay_Ab...|
|  Latia Vanhoose|Latia Vanhoose_Mi...|
|  Latia Vanhoose|Eda Neathery_Nico...|
|     Neda Briski|Margene Moores_Mi...|
|  Latia Vanhoose|Claude Panos_Sant...|
|  Loris Crossett|Mitzi Seldon_Jenn...|
|  Annika Hoffman|Taryn Brownlee_Mi...|
|   Santa Kerfien|Judie Chipps_Tary...|
|Mickey Cortright|Ernest Rossbach_M...|
+----------------+--------------------+
only showing top 20 rows

In [63]:
from pyspark.sql.functions import col

df.select(col("roll"), col("name")).show()

+------+----------------+
|  roll|            name|
+------+----------------+
|  2984| Hubert Oliveras|
| 12899|Toshiko Hillyard|
| 21267|  Celeste Lollis|
| 32877|    Elenore Choy|
| 41487|  Sheryll Towler|
| 52771|  Margene Moores|
| 61973|     Neda Briski|
| 72409|    Claude Panos|
| 81492|  Celeste Lollis|
| 92882|  Cordie Harnois|
|102285|       Kena Wild|
|111449| Ernest Rossbach|
|122502|  Latia Vanhoose|
|132110|  Latia Vanhoose|
|141770|     Neda Briski|
|152159|  Latia Vanhoose|
|161771|  Loris Crossett|
|171660|  Annika Hoffman|
|182129|   Santa Kerfien|
|192537|Mickey Cortright|
+------+----------------+
only showing top 20 rows

In [64]:
df.select('*').show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [68]:
df.columns
df.select('age', 'gender', 'email').show()

+---+------+--------------------+
|age|gender|               email|
+---+------+--------------------+
| 28|Female|Annika Hoffman_Na...|
| 29|Female|Margene Moores_Ma...|
| 28|  Male|Jeannetta Golden_...|
| 29|Female|Billi Clore_Mitzi...|
| 28|  Male|Claude Panos_Judi...|
| 28|  Male|Toshiko Hillyard_...|
| 28|  Male|Alberta Freund_El...|
| 28|Female|Sheryll Towler_Al...|
| 28|  Male|Nicole Harwood_Cl...|
| 29|  Male|Judie Chipps_Clem...|
| 29|Female|Dustin Feagins_Ma...|
| 29|  Male|Maybell Duguay_Ab...|
| 28|Female|Latia Vanhoose_Mi...|
| 29|Female|Eda Neathery_Nico...|
| 29|  Male|Margene Moores_Mi...|
| 29|Female|Claude Panos_Sant...|
| 29|  Male|Mitzi Seldon_Jenn...|
| 29|  Male|Taryn Brownlee_Mi...|
| 29|  Male|Judie Chipps_Tary...|
| 28|Female|Ernest Rossbach_M...|
+---+------+--------------------+
only showing top 20 rows

In [73]:
df.select(df.columns[2:6]).show()

+----------------+------+------+-----+
|            name|course|  roll|marks|
+----------------+------+------+-----+
| Hubert Oliveras|    DB|  2984|   59|
|Toshiko Hillyard| Cloud| 12899|   62|
|  Celeste Lollis|    PF| 21267|   45|
|    Elenore Choy|    DB| 32877|   29|
|  Sheryll Towler|   DSA| 41487|   41|
|  Margene Moores|   MVC| 52771|   32|
|     Neda Briski|   OOP| 61973|   69|
|    Claude Panos| Cloud| 72409|   85|
|  Celeste Lollis|   MVC| 81492|   64|
|  Cordie Harnois|   OOP| 92882|   51|
|       Kena Wild|   DSA|102285|   35|
| Ernest Rossbach|    DB|111449|   53|
|  Latia Vanhoose|    DB|122502|   27|
|  Latia Vanhoose|   MVC|132110|   55|
|     Neda Briski|    PF|141770|   42|
|  Latia Vanhoose|    DB|152159|   27|
|  Loris Crossett|   MVC|161771|   36|
|  Annika Hoffman|   OOP|171660|   22|
|   Santa Kerfien|    PF|182129|   56|
|Mickey Cortright|    DB|192537|   62|
+----------------+------+------+-----+
only showing top 20 rows

In [77]:
df2 = df.select(col("roll"), col("name"))

In [78]:
df2.show()

+------+----------------+
|  roll|            name|
+------+----------------+
|  2984| Hubert Oliveras|
| 12899|Toshiko Hillyard|
| 21267|  Celeste Lollis|
| 32877|    Elenore Choy|
| 41487|  Sheryll Towler|
| 52771|  Margene Moores|
| 61973|     Neda Briski|
| 72409|    Claude Panos|
| 81492|  Celeste Lollis|
| 92882|  Cordie Harnois|
|102285|       Kena Wild|
|111449| Ernest Rossbach|
|122502|  Latia Vanhoose|
|132110|  Latia Vanhoose|
|141770|     Neda Briski|
|152159|  Latia Vanhoose|
|161771|  Loris Crossett|
|171660|  Annika Hoffman|
|182129|   Santa Kerfien|
|192537|Mickey Cortright|
+------+----------------+
only showing top 20 rows

## with column no DataFrame

In [79]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Spark DataFrames").getOrCreate()
df = spark.read.options(header = 'True', inferSchema = 'True').csv('/content/drive/MyDrive/PySpark/data/StudentData.csv')

In [80]:
df = spark.read.options(header = 'True', inferSchema = 'True').csv('/content/drive/MyDrive/PySpark/data/StudentData.csv')
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [101]:
from pyspark.sql.functions import col, lit
df = df.withColumn("roll", col("roll").cast("string"))

In [94]:
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [95]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [98]:
# Adicionando 10 a coluna marks
df = df.withColumn("marks", col('marks') + 10)
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   69|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   72|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   55|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   39|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   51|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   42|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   79|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   95|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   74|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   61|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   45|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   63|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   37|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   65|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   52|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   37|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   46|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   32|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   66|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   72|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [108]:
#Criando uma nova coluna
df = df.withColumn("aggregated marks", col('marks') -10)
df.show()

+---+------+----------------+------+------+-----+--------------------+----------------+-------+
|age|gender|            name|course|  roll|marks|               email|aggregated marks|Country|
+---+------+----------------+------+------+-----+--------------------+----------------+-------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|              49|    USA|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|              52|    USA|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|              35|    USA|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|              19|    USA|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|              31|    USA|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|              22|    USA|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|              59|    USA|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|              75|    USA|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|              54|    USA|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|              41|    USA|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|              25|    USA|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|              43|    USA|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|              17|    USA|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|              45|    USA|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|              32|    USA|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|              17|    USA|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|              26|    USA|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|              12|    USA|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|              46|    USA|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|              52|    USA|
+---+------+----------------+------+------+-----+--------------------+----------------+-------+
only showing top 20 rows

In [104]:
from pyspark.sql.functions import col, lit
df = df.withColumn("Country", lit("USA"))
df.show()

+---+------+----------------+------+------+-----+--------------------+----------------+-------+
|age|gender|            name|course|  roll|marks|               email|aggregated marks|Country|
+---+------+----------------+------+------+-----+--------------------+----------------+-------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|              49|    USA|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|              52|    USA|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|              35|    USA|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|              19|    USA|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|              31|    USA|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|              22|    USA|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|              59|    USA|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|              75|    USA|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|              54|    USA|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|              41|    USA|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|              25|    USA|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|              43|    USA|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|              17|    USA|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|              45|    USA|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|              32|    USA|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|              17|    USA|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|              26|    USA|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|              12|    USA|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|              46|    USA|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|              52|    USA|
+---+------+----------------+------+------+-----+--------------------+----------------+-------+
only showing top 20 rows

In [110]:
df.withColumn("marks", col("marks")- 10).withColumn("updated marks", col("marks") + 20).withColumn("Country", lit("USA")).show()

+---+------+----------------+------+------+-----+--------------------+----------------+-------+-------------+
|age|gender|            name|course|  roll|marks|               email|aggregated marks|Country|updated marks|
+---+------+----------------+------+------+-----+--------------------+----------------+-------+-------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   49|Annika Hoffman_Na...|              49|    USA|           69|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   52|Margene Moores_Ma...|              52|    USA|           72|
| 28|  Male|  Celeste Lollis|    PF| 21267|   35|Jeannetta Golden_...|              35|    USA|           55|
| 29|Female|    Elenore Choy|    DB| 32877|   19|Billi Clore_Mitzi...|              19|    USA|           39|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   31|Claude Panos_Judi...|              31|    USA|           51|
| 28|  Male|  Margene Moores|   MVC| 52771|   22|Toshiko Hillyard_...|              22|    USA|           42|
| 28|  Male|     Neda Briski|   OOP| 61973|   59|Alberta Freund_El...|              59|    USA|           79|
| 28|Female|    Claude Panos| Cloud| 72409|   75|Sheryll Towler_Al...|              75|    USA|           95|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   54|Nicole Harwood_Cl...|              54|    USA|           74|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   41|Judie Chipps_Clem...|              41|    USA|           61|
| 29|Female|       Kena Wild|   DSA|102285|   25|Dustin Feagins_Ma...|              25|    USA|           45|
| 29|  Male| Ernest Rossbach|    DB|111449|   43|Maybell Duguay_Ab...|              43|    USA|           63|
| 28|Female|  Latia Vanhoose|    DB|122502|   17|Latia Vanhoose_Mi...|              17|    USA|           37|
| 29|Female|  Latia Vanhoose|   MVC|132110|   45|Eda Neathery_Nico...|              45|    USA|           65|
| 29|  Male|     Neda Briski|    PF|141770|   32|Margene Moores_Mi...|              32|    USA|           52|
| 29|Female|  Latia Vanhoose|    DB|152159|   17|Claude Panos_Sant...|              17|    USA|           37|
| 29|  Male|  Loris Crossett|   MVC|161771|   26|Mitzi Seldon_Jenn...|              26|    USA|           46|
| 29|  Male|  Annika Hoffman|   OOP|171660|   12|Taryn Brownlee_Mi...|              12|    USA|           32|
| 29|  Male|   Santa Kerfien|    PF|182129|   46|Judie Chipps_Tary...|              46|    USA|           66|
| 28|Female|Mickey Cortright|    DB|192537|   52|Ernest Rossbach_M...|              52|    USA|           72|
+---+------+----------------+------+------+-----+--------------------+----------------+-------+-------------+
only showing top 20 rows

### Spark DF withcolumn renomendo e alias

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Spark DataFrames").getOrCreate()
df = spark.read.options(header = 'True', inferSchema = 'True').csv('/content/drive/MyDrive/PySpark/data/StudentData.csv')
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [7]:
#renomenando uma coluna
df = df.withColumnRenamed("gender","sex").withColumnRenamed("roll", "Roll namber")
df.show()

+---+------+----------------+------+-----------+-----+--------------------+
|age|   sex|            name|course|Roll namber|marks|               email|
+---+------+----------------+------+-----------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|       2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud|      12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF|      21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB|      32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA|      41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC|      52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP|      61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud|      72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC|      81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP|      92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|     102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|     111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|     122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|     132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|     141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|     152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|     161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|     171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|     182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|     192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+-----------+-----+--------------------+
only showing top 20 rows

* utlizando o alias

In [9]:
from pyspark.sql.functions import col, lit
df.select(col("name").alias("Full name")).show()

+----------------+
|       Full name|
+----------------+
| Hubert Oliveras|
|Toshiko Hillyard|
|  Celeste Lollis|
|    Elenore Choy|
|  Sheryll Towler|
|  Margene Moores|
|     Neda Briski|
|    Claude Panos|
|  Celeste Lollis|
|  Cordie Harnois|
|       Kena Wild|
| Ernest Rossbach|
|  Latia Vanhoose|
|  Latia Vanhoose|
|     Neda Briski|
|  Latia Vanhoose|
|  Loris Crossett|
|  Annika Hoffman|
|   Santa Kerfien|
|Mickey Cortright|
+----------------+
only showing top 20 rows

## withColumnRenamed no DataFrame

In [10]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit
spark = SparkSession.builder.appName("Spark DataFrames").getOrCreate()
df = spark.read.options(header = 'True', inferSchema = 'True').csv('/content/drive/MyDrive/PySpark/data/StudentData.csv')
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [12]:
df = df.withColumnRenamed("gender", "sex").withColumnRenamed("roll", "roll number")
df.show()

+---+------+----------------+------+-----------+-----+--------------------+
|age|   sex|            name|course|roll number|marks|               email|
+---+------+----------------+------+-----------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|       2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud|      12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF|      21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB|      32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA|      41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC|      52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP|      61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud|      72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC|      81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP|      92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|     102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|     111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|     122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|     132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|     141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|     152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|     161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|     171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|     182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|     192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+-----------+-----+--------------------+
only showing top 20 rows

In [14]:
df.select(col("name").alias("Full Name")).show()

+----------------+
|       Full Name|
+----------------+
| Hubert Oliveras|
|Toshiko Hillyard|
|  Celeste Lollis|
|    Elenore Choy|
|  Sheryll Towler|
|  Margene Moores|
|     Neda Briski|
|    Claude Panos|
|  Celeste Lollis|
|  Cordie Harnois|
|       Kena Wild|
| Ernest Rossbach|
|  Latia Vanhoose|
|  Latia Vanhoose|
|     Neda Briski|
|  Latia Vanhoose|
|  Loris Crossett|
|  Annika Hoffman|
|   Santa Kerfien|
|Mickey Cortright|
+----------------+
only showing top 20 rows

## filter / where no DataFrame

In [15]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit
spark = SparkSession.builder.appName("Spark DataFrames").getOrCreate()
df = spark.read.options(header = 'True', inferSchema = 'True').csv('/content/drive/MyDrive/PySpark/data/StudentData.csv')
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [17]:
df.filter(df.course == "DB").show()

+---+------+-----------------+------+-------+-----+--------------------+
|age|gender|             name|course|   roll|marks|               email|
+---+------+-----------------+------+-------+-----+--------------------+
| 28|Female|  Hubert Oliveras|    DB|   2984|   59|Annika Hoffman_Na...|
| 29|Female|     Elenore Choy|    DB|  32877|   29|Billi Clore_Mitzi...|
| 29|  Male|  Ernest Rossbach|    DB| 111449|   53|Maybell Duguay_Ab...|
| 28|Female|   Latia Vanhoose|    DB| 122502|   27|Latia Vanhoose_Mi...|
| 29|Female|   Latia Vanhoose|    DB| 152159|   27|Claude Panos_Sant...|
| 28|Female| Mickey Cortright|    DB| 192537|   62|Ernest Rossbach_M...|
| 28|Female|      Anna Santos|    DB| 311589|   79|Celeste Lollis_Mi...|
| 28|  Male|    Kizzy Brenner|    DB| 381712|   36|Paris Hutton_Kena...|
| 28|  Male| Toshiko Hillyard|    DB| 392218|   47|Leontine Phillips...|
| 29|  Male|     Paris Hutton|    DB| 481229|   57|Clementina Menke_...|
| 28|Female| Mickey Cortright|    DB| 551389|   43|Tijuana Kropf_Jen...|
| 28|Female|Leontine Phillips|    DB| 602404|   48|Neda Briski_Cheri...|
| 28|Female|  Hubert Oliveras|    DB| 771081|   79|Kizzy Brenner_Dus...|
| 29|Female|     Elenore Choy|    DB| 811824|   55|Maybell Duguay_Me...|
| 29|  Male| Clementina Menke|    DB| 882200|   76|Michelle Ruggiero...|
| 29|Female|  Sebrina Maresca|    DB| 922210|   54|Toshiko Hillyard_...|
| 29|  Male|     Naoma Fritts|    DB| 931295|   79|Hubert Oliveras_S...|
| 28|  Male|   Annika Hoffman|    DB|1031544|   44|Dustin Feagins_So...|
| 28|  Male|   Nicole Harwood|    DB|1211495|   28|Melani Engberg_Jc...|
| 29|Female|     Claude Panos|    DB|1222887|   75|Hubert Oliveras_S...|
+---+------+-----------------+------+-------+-----+--------------------+
only showing top 20 rows

In [18]:
df.filter(col("course") == "DB").show()

+---+------+-----------------+------+-------+-----+--------------------+
|age|gender|             name|course|   roll|marks|               email|
+---+------+-----------------+------+-------+-----+--------------------+
| 28|Female|  Hubert Oliveras|    DB|   2984|   59|Annika Hoffman_Na...|
| 29|Female|     Elenore Choy|    DB|  32877|   29|Billi Clore_Mitzi...|
| 29|  Male|  Ernest Rossbach|    DB| 111449|   53|Maybell Duguay_Ab...|
| 28|Female|   Latia Vanhoose|    DB| 122502|   27|Latia Vanhoose_Mi...|
| 29|Female|   Latia Vanhoose|    DB| 152159|   27|Claude Panos_Sant...|
| 28|Female| Mickey Cortright|    DB| 192537|   62|Ernest Rossbach_M...|
| 28|Female|      Anna Santos|    DB| 311589|   79|Celeste Lollis_Mi...|
| 28|  Male|    Kizzy Brenner|    DB| 381712|   36|Paris Hutton_Kena...|
| 28|  Male| Toshiko Hillyard|    DB| 392218|   47|Leontine Phillips...|
| 29|  Male|     Paris Hutton|    DB| 481229|   57|Clementina Menke_...|
| 28|Female| Mickey Cortright|    DB| 551389|   43|Tijuana Kropf_Jen...|
| 28|Female|Leontine Phillips|    DB| 602404|   48|Neda Briski_Cheri...|
| 28|Female|  Hubert Oliveras|    DB| 771081|   79|Kizzy Brenner_Dus...|
| 29|Female|     Elenore Choy|    DB| 811824|   55|Maybell Duguay_Me...|
| 29|  Male| Clementina Menke|    DB| 882200|   76|Michelle Ruggiero...|
| 29|Female|  Sebrina Maresca|    DB| 922210|   54|Toshiko Hillyard_...|
| 29|  Male|     Naoma Fritts|    DB| 931295|   79|Hubert Oliveras_S...|
| 28|  Male|   Annika Hoffman|    DB|1031544|   44|Dustin Feagins_So...|
| 28|  Male|   Nicole Harwood|    DB|1211495|   28|Melani Engberg_Jc...|
| 29|Female|     Claude Panos|    DB|1222887|   75|Hubert Oliveras_S...|
+---+------+-----------------+------+-------+-----+--------------------+
only showing top 20 rows

In [20]:
# Multiplas condições
df.filter( (df.course == "DB") & (df.marks > 50) ).show()

+---+------+------------------+------+-------+-----+--------------------+
|age|gender|              name|course|   roll|marks|               email|
+---+------+------------------+------+-------+-----+--------------------+
| 28|Female|   Hubert Oliveras|    DB|   2984|   59|Annika Hoffman_Na...|
| 29|  Male|   Ernest Rossbach|    DB| 111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Mickey Cortright|    DB| 192537|   62|Ernest Rossbach_M...|
| 28|Female|       Anna Santos|    DB| 311589|   79|Celeste Lollis_Mi...|
| 29|  Male|      Paris Hutton|    DB| 481229|   57|Clementina Menke_...|
| 28|Female|   Hubert Oliveras|    DB| 771081|   79|Kizzy Brenner_Dus...|
| 29|Female|      Elenore Choy|    DB| 811824|   55|Maybell Duguay_Me...|
| 29|  Male|  Clementina Menke|    DB| 882200|   76|Michelle Ruggiero...|
| 29|Female|   Sebrina Maresca|    DB| 922210|   54|Toshiko Hillyard_...|
| 29|  Male|      Naoma Fritts|    DB| 931295|   79|Hubert Oliveras_S...|
| 29|Female|      Claude Panos|    DB|1222887|   75|Hubert Oliveras_S...|
| 29|Female| Leontine Phillips|    DB|1432252|   67|Billi Clore_Shery...|
| 28|Female|   Gonzalo Ferebee|    DB|1451513|   69|Claude Panos_Tame...|
| 28|  Male|   Marylee Capasso|    DB|1611411|   96|Annika Hoffman_Lo...|
| 29|  Male|    Alberta Freund|    DB|1671638|   98|Clementina Menke_...|
| 28|Female|Priscila Tavernier|    DB|1722388|   86|Lawanda Wohlwend_...|
| 29|  Male|    Dustin Feagins|    DB|1782045|   81|Cordie Harnois_To...|
| 29|  Male|     Tijuana Kropf|    DB|1882795|   92|Hubert Oliveras_E...|
| 28|  Male|   Ernest Rossbach|    DB|1901492|   54|Latia Vanhoose_Jc...|
| 29|Female| Leontine Phillips|    DB|1972893|   64|Marylee Capasso_E...|
+---+------+------------------+------+-------+-----+--------------------+
only showing top 20 rows

In [21]:
courses = ["DB", "Cloud", "OPP", "DSA"]
df.filter( df.course.isin(courses) ).show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
| 28|Female|       Kena Wild| Cloud|221750|   60|Mitzi Seldon_Jenn...|
| 28|Female|    Jc Andrepont|   DSA|232060|   58|Billi Clore_Abram...|
| 29|Female|     Anna Santos| Cloud|242254|   68|Jc Andrepont_Hube...|
| 28|Female|  Maybell Duguay| Cloud|261439|   20|Nicole Harwood_Ju...|
| 29|Female|    Paris Hutton|   DSA|271472|   99|Sheryll Towler_Al...|
| 29|Female|    Cheri Kenney| Cloud|281408|   43|Annika Hoffman_Me...|
| 28|Female|  Dustin Feagins|   DSA|291984|   82|Abram Nagao_Kena ...|
| 29|Female|    Claude Panos| Cloud|302130|   59|Sheryll Towler_Le...|
| 28|Female|     Anna Santos|    DB|311589|   79|Celeste Lollis_Mi...|
| 28|Female|Mickey Cortright|   DSA|342003|   44|Mitzi Seldon_Jean...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [22]:
#inicia com a expressão
df.filter( df.course.startswith("D") ).show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
| 28|Female|    Jc Andrepont|   DSA|232060|   58|Billi Clore_Abram...|
| 29|Female|    Paris Hutton|   DSA|271472|   99|Sheryll Towler_Al...|
| 28|Female|  Dustin Feagins|   DSA|291984|   82|Abram Nagao_Kena ...|
| 28|Female|     Anna Santos|    DB|311589|   79|Celeste Lollis_Mi...|
| 28|Female|Mickey Cortright|   DSA|342003|   44|Mitzi Seldon_Jean...|
| 28|  Male|   Kizzy Brenner|    DB|381712|   36|Paris Hutton_Kena...|
| 28|  Male|Toshiko Hillyard|    DB|392218|   47|Leontine Phillips...|
| 29|Female|     Anna Santos|   DSA|411479|   42|Kena Wild_Mitzi S...|
| 28|Female|  Maybell Duguay|   DSA|452141|   29|Leontine Phillips...|
| 29|  Male|    Paris Hutton|    DB|481229|   57|Clementina Menke_...|
| 29|Female|    Paris Hutton|   DSA|492159|   60|Nicole Harwood_Ma...|
| 28|Female|Mickey Cortright|    DB|551389|   43|Tijuana Kropf_Jen...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [24]:
# Termina com a expressão
df.filter( df.name.endswith("se") ).show()

+---+------+--------------+------+-------+-----+--------------------+
|age|gender|          name|course|   roll|marks|               email|
+---+------+--------------+------+-------+-----+--------------------+
| 28|Female|Latia Vanhoose|    DB| 122502|   27|Latia Vanhoose_Mi...|
| 29|Female|Latia Vanhoose|   MVC| 132110|   55|Eda Neathery_Nico...|
| 29|Female|Latia Vanhoose|    DB| 152159|   27|Claude Panos_Sant...|
| 29|  Male|Latia Vanhoose| Cloud|1832268|   60|Marylee Capasso_S...|
| 29|  Male|Latia Vanhoose|   OOP|2372748|   94|Latia Vanhoose_La...|
| 29|Female|Latia Vanhoose|    PF|2861854|   42|Claude Panos_Nico...|
| 29|  Male|Latia Vanhoose|   MVC|2992281|   90|Elenore Choy_Cord...|
| 29|Female|Latia Vanhoose|   MVC|3091650|   30|Cordie Harnois_Se...|
| 29|Female|Latia Vanhoose|   OOP|3841395|   26|Kizzy Brenner_Eda...|
| 29|  Male|Latia Vanhoose| Cloud|4661276|   40|Jc Andrepont_Anni...|
| 28|Female|Latia Vanhoose|   OOP|4792828|   72|Tamera Blakley_Mi...|
| 28|Female|Latia Vanhoose|    PF|5222171|   73|Toshiko Hillyard_...|
| 28|Female|Latia Vanhoose| Cloud|6701628|   33|Abram Nagao_Cheri...|
| 29|Female|Latia Vanhoose|   MVC|6771882|   49|Alberta Freund_La...|
| 28|Female|Latia Vanhoose|   MVC|7381991|   94|Eda Neathery_Mich...|
| 29|  Male|Latia Vanhoose| Cloud|7721956|   45|Jalisa Swenson_An...|
| 28|  Male|Latia Vanhoose|   OOP|7741757|   66|Loris Crossett_Na...|
| 28|  Male|Latia Vanhoose|   DSA|7792270|   37|Eda Neathery_Donn...|
| 28|  Male|Latia Vanhoose|   DSA|9442974|   29|Jc Andrepont_Cele...|
| 28|Female|Latia Vanhoose| Cloud|9471888|   56|Naoma Fritts_Kena...|
+---+------+--------------+------+-------+-----+--------------------+

In [25]:
#contém a expressão
df.filter( df.name.contains("se") ).show()

+---+------+--------------+------+-------+-----+--------------------+
|age|gender|          name|course|   roll|marks|               email|
+---+------+--------------+------+-------+-----+--------------------+
| 28|Female|Latia Vanhoose|    DB| 122502|   27|Latia Vanhoose_Mi...|
| 29|Female|Latia Vanhoose|   MVC| 132110|   55|Eda Neathery_Nico...|
| 29|Female|Latia Vanhoose|    DB| 152159|   27|Claude Panos_Sant...|
| 29|  Male|Loris Crossett|   MVC| 161771|   36|Mitzi Seldon_Jenn...|
| 29|Female|Loris Crossett|    PF| 201487|   96|Elenore Choy_Lati...|
| 28|Female|Loris Crossett|    PF| 332739|   62|Michelle Ruggiero...|
| 29|  Male|Loris Crossett|    PF| 911593|   46|Gonzalo Ferebee_M...|
| 28|Female|Loris Crossett|   DSA|1662549|   86|Paris Hutton_Lati...|
| 29|  Male|Latia Vanhoose| Cloud|1832268|   60|Marylee Capasso_S...|
| 29|  Male|Latia Vanhoose|   OOP|2372748|   94|Latia Vanhoose_La...|
| 28|Female|Loris Crossett|   OOP|2691881|   29|Maybell Duguay_Ni...|
| 28|  Male|Loris Crossett|   OOP|2852490|   25|Loris Crossett_Do...|
| 29|Female|Latia Vanhoose|    PF|2861854|   42|Claude Panos_Nico...|
| 29|  Male|Latia Vanhoose|   MVC|2992281|   90|Elenore Choy_Cord...|
| 29|Female|Latia Vanhoose|   MVC|3091650|   30|Cordie Harnois_Se...|
| 28|Female|Loris Crossett|   OOP|3502780|   30|Jenna Montague_Co...|
| 28|Female|Loris Crossett|    PF|3531684|   84|Dustin Feagins_Ta...|
| 29|  Male|Loris Crossett|   OOP|3592529|   80|Annika Hoffman_To...|
| 29|Female|Latia Vanhoose|   OOP|3841395|   26|Kizzy Brenner_Eda...|
| 28|Female|Loris Crossett|    PF|3861248|   94|Dustin Feagins_Ch...|
+---+------+--------------+------+-------+-----+--------------------+
only showing top 20 rows

In [26]:
# utilizando expressões em SQL, para mais expressões ver a documentação SQL
df.filter( df.name.like('%se%') ).show()

+---+------+--------------+------+-------+-----+--------------------+
|age|gender|          name|course|   roll|marks|               email|
+---+------+--------------+------+-------+-----+--------------------+
| 28|Female|Latia Vanhoose|    DB| 122502|   27|Latia Vanhoose_Mi...|
| 29|Female|Latia Vanhoose|   MVC| 132110|   55|Eda Neathery_Nico...|
| 29|Female|Latia Vanhoose|    DB| 152159|   27|Claude Panos_Sant...|
| 29|  Male|Loris Crossett|   MVC| 161771|   36|Mitzi Seldon_Jenn...|
| 29|Female|Loris Crossett|    PF| 201487|   96|Elenore Choy_Lati...|
| 28|Female|Loris Crossett|    PF| 332739|   62|Michelle Ruggiero...|
| 29|  Male|Loris Crossett|    PF| 911593|   46|Gonzalo Ferebee_M...|
| 28|Female|Loris Crossett|   DSA|1662549|   86|Paris Hutton_Lati...|
| 29|  Male|Latia Vanhoose| Cloud|1832268|   60|Marylee Capasso_S...|
| 29|  Male|Latia Vanhoose|   OOP|2372748|   94|Latia Vanhoose_La...|
| 28|Female|Loris Crossett|   OOP|2691881|   29|Maybell Duguay_Ni...|
| 28|  Male|Loris Crossett|   OOP|2852490|   25|Loris Crossett_Do...|
| 29|Female|Latia Vanhoose|    PF|2861854|   42|Claude Panos_Nico...|
| 29|  Male|Latia Vanhoose|   MVC|2992281|   90|Elenore Choy_Cord...|
| 29|Female|Latia Vanhoose|   MVC|3091650|   30|Cordie Harnois_Se...|
| 28|Female|Loris Crossett|   OOP|3502780|   30|Jenna Montague_Co...|
| 28|Female|Loris Crossett|    PF|3531684|   84|Dustin Feagins_Ta...|
| 29|  Male|Loris Crossett|   OOP|3592529|   80|Annika Hoffman_To...|
| 29|Female|Latia Vanhoose|   OOP|3841395|   26|Kizzy Brenner_Eda...|
| 28|Female|Loris Crossett|    PF|3861248|   94|Dustin Feagins_Ch...|
+---+------+--------------+------+-------+-----+--------------------+
only showing top 20 rows

### Exemplo

* **utilizando o banco StudentData.csv**

* Ler o arquivo em DF

* Criar uma nova coluna no DF para as notas totais e deixe as notas totais serem 120

* Criar uma nova coluna com a média das notas $\frac{notas}{totalnotal}*100$

* filtre todos os alunos que obtiveram mais de 80% de notas no curso OOP e salve-o em um novo DF

* filtre todos os alunos que obtiveram mais de 60% de notas no curso Cloud e salve-o em um novo df

* Imprima os nomes e notas de todos os alunos do DF acima

In [96]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit
spark = SparkSession.builder.appName("Spark DataFrames").getOrCreate()
df = spark.read.options(header = 'True', inferSchema = 'True').csv('/content/drive/MyDrive/PySpark/data/StudentData.csv')

In [97]:
df2 = df
df2 = df2.withColumn('total_marks', lit("120"))

In [98]:
df2 = df2.withColumn( 'average', (col("marks") / col("total_marks")*100) )
df2.show()

+---+------+----------------+------+------+-----+--------------------+-----------+------------------+
|age|gender|            name|course|  roll|marks|               email|total_marks|           average|
+---+------+----------------+------+------+-----+--------------------+-----------+------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|        120|49.166666666666664|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|        120| 51.66666666666667|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|        120|              37.5|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|        120|24.166666666666668|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|        120|34.166666666666664|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|        120|26.666666666666668|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|        120| 57.49999999999999|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|        120| 70.83333333333334|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|        120|53.333333333333336|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|        120|              42.5|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|        120|29.166666666666668|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|        120|44.166666666666664|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|        120|              22.5|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|        120| 45.83333333333333|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|        120|              35.0|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|        120|              22.5|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|        120|              30.0|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|        120|18.333333333333332|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|        120|46.666666666666664|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|        120| 51.66666666666667|
+---+------+----------------+------+------+-----+--------------------+-----------+------------------+
only showing top 20 rows

In [99]:
df_OOP = df2.filter( (df2.course == "OOP") & (df2.average > 80) )
df_OOP.show()

+---+------+------------------+------+-------+-----+--------------------+-----------+-----------------+
|age|gender|              name|course|   roll|marks|               email|total_marks|          average|
+---+------+------------------+------+-------+-----+--------------------+-----------+-----------------+
| 28|  Male|    Jenna Montague|   OOP|3331161|   98|Leontine Phillips...|        120|81.66666666666667|
| 29|Female|Priscila Tavernier|   OOP|3902993|   99|Celeste Lollis_Bi...|        120|             82.5|
| 28|Female|      Judie Chipps|   OOP|5451977|   99|Tamera Blakley_Mi...|        120|             82.5|
| 29|  Male|    Margene Moores|   OOP|5621072|   97|Sheryll Towler_Ma...|        120|80.83333333333333|
| 29|  Male|      Jc Andrepont|   OOP|8022618|   97|Cordie Harnois_Ja...|        120|80.83333333333333|
| 28|  Male|    Loris Crossett|   OOP|8172914|   98|Paris Hutton_Pari...|        120|81.66666666666667|
| 28|  Male|    Loris Crossett|   OOP|9692316|   99|Judie Chipps_Mich...|        120|             82.5|
+---+------+------------------+------+-------+-----+--------------------+-----------+-----------------+

In [100]:
df_CLOUD = df2.filter( (df2.course == "Cloud") & (df2.average > 60) )
df_CLOUD.show()

+---+------+-----------------+------+-------+-----+--------------------+-----------+-----------------+
|age|gender|             name|course|   roll|marks|               email|total_marks|          average|
+---+------+-----------------+------+-------+-----+--------------------+-----------+-----------------+
| 28|Female|     Claude Panos| Cloud|  72409|   85|Sheryll Towler_Al...|        120|70.83333333333334|
| 29|  Male|      Billi Clore| Cloud| 512047|   76|Taryn Brownlee_Ju...|        120|63.33333333333333|
| 28|Female|   Somer Stoecker| Cloud| 612490|   82|Sebrina Maresca_G...|        120|68.33333333333333|
| 29|Female|     Judie Chipps| Cloud| 632793|   75|Tijuana Kropf_Ele...|        120|             62.5|
| 29|Female|     Eda Neathery| Cloud|1011971|   91|Margene Moores_El...|        120|75.83333333333333|
| 28|  Male|   Bonita Higuera| Cloud|1312294|   94|Eda Neathery_Pris...|        120|78.33333333333333|
| 29|Female|  Hubert Oliveras| Cloud|1392791|   94|Anna Santos_Alber...|        120|78.33333333333333|
| 28|Female|      Neda Briski| Cloud|1651303|   74|Ernest Rossbach_D...|        120|61.66666666666667|
| 28|Female|   Melani Engberg| Cloud|1872667|   99|Alberta Freund_Ni...|        120|             82.5|
| 28|Female|     Paris Hutton| Cloud|2051881|   79|Melani Engberg_Ma...|        120|65.83333333333333|
| 28|Female|     Eda Neathery| Cloud|2071302|   95|Latia Vanhoose_Do...|        120|79.16666666666666|
| 28|  Male|      Neda Briski| Cloud|2092176|   81|Celeste Lollis_Ma...|        120|             67.5|
| 28|Female|    Tijuana Kropf| Cloud|2121632|   78|Michelle Ruggiero...|        120|             65.0|
| 28|Female|   Jenna Montague| Cloud|2402240|   96|Annika Hoffman_Du...|        120|             80.0|
| 29|Female|   Dustin Feagins| Cloud|2421900|   89|Niki Klimek_Latia...|        120|74.16666666666667|
| 28|Female|  Ernest Rossbach| Cloud|2602027|   83|Alberta Freund_Go...|        120|69.16666666666667|
| 28|  Male|Leontine Phillips| Cloud|3011586|   76|Dustin Feagins_Al...|        120|63.33333333333333|
| 29|Female|  Sebrina Maresca| Cloud|3261159|   97|Maybell Duguay_Ja...|        120|80.83333333333333|
| 28|  Male| Clementina Menke| Cloud|3352508|   95|Naoma Fritts_Mick...|        120|79.16666666666666|
| 28|  Male|    Kizzy Brenner| Cloud|3581303|   80|Margene Moores_Ta...|        120|66.66666666666666|
+---+------+-----------------+------+-------+-----+--------------------+-----------+-----------------+
only showing top 20 rows

In [101]:
df_OOP.select("name", "marks").show()

+------------------+-----+
|              name|marks|
+------------------+-----+
|    Jenna Montague|   98|
|Priscila Tavernier|   99|
|      Judie Chipps|   99|
|    Margene Moores|   97|
|      Jc Andrepont|   97|
|    Loris Crossett|   98|
|    Loris Crossett|   99|
+------------------+-----+

In [102]:
df_CLOUD.select("name", "marks").show()

+-----------------+-----+
|             name|marks|
+-----------------+-----+
|     Claude Panos|   85|
|      Billi Clore|   76|
|   Somer Stoecker|   82|
|     Judie Chipps|   75|
|     Eda Neathery|   91|
|   Bonita Higuera|   94|
|  Hubert Oliveras|   94|
|      Neda Briski|   74|
|   Melani Engberg|   99|
|     Paris Hutton|   79|
|     Eda Neathery|   95|
|      Neda Briski|   81|
|    Tijuana Kropf|   78|
|   Jenna Montague|   96|
|   Dustin Feagins|   89|
|  Ernest Rossbach|   83|
|Leontine Phillips|   76|
|  Sebrina Maresca|   97|
| Clementina Menke|   95|
|    Kizzy Brenner|   80|
+-----------------+-----+
only showing top 20 rows

## Count, Distinct, DropDupicates no DataFrame

In [103]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit
spark = SparkSession.builder.appName("Spark DataFrames").getOrCreate()
df = spark.read.options(header = 'True', inferSchema = 'True').csv('/content/drive/MyDrive/PySpark/data/StudentData.csv')
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [104]:
# quantidade de linhas no dataframe
df.count()

1000

In [105]:
#aplicando filtro e contando
df.filter(df.course == "DB").count()

157

In [106]:
# todos os dados são únicos
df.distinct().count()

1000

In [109]:
# apresenta quantos dados unicos existem no DF
df.select("gender","age").distinct().show()

+------+---+
|gender|age|
+------+---+
|Female| 29|
|Female| 28|
|  Male| 28|
|  Male| 29|
+------+---+

In [110]:
# retira os dados duplicados em uma coluna
df.dropDuplicates(["gender"]).show()

+---+------+---------------+------+-----+-----+--------------------+
|age|gender|           name|course| roll|marks|               email|
+---+------+---------------+------+-----+-----+--------------------+
| 28|Female|Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|
| 28|  Male| Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|
+---+------+---------------+------+-----+-----+--------------------+

In [111]:
# retira os dados duplicados em uma coluna
df.dropDuplicates(["gender", "course"]).show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|Female|  Alberta Freund|   OOP|251805|   83|Annika Hoffman_Sh...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 29|  Male|     Billi Clore| Cloud|512047|   76|Taryn Brownlee_Ju...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|Female|  Loris Crossett|    PF|201487|   96|Elenore Choy_Lati...|
+---+------+----------------+------+------+-----+--------------------+

## Exemplo

* Escrever um código para mostrar as linhas unicas por idade, genero, e curso

In [112]:
df.dropDuplicates(["gender", "course", "age"]).show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 29|Female|    Claude Panos|   OOP|542821|   28|Hubert Oliveras_P...|
| 28|Female|    Cheri Kenney|   MVC|321816|   24|Kena Wild_Michell...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 28|Female|  Loris Crossett|    PF|332739|   62|Michelle Ruggiero...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|Female|  Loris Crossett|    PF|201487|   96|Elenore Choy_Lati...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|Female|    Jc Andrepont|   DSA|232060|   58|Billi Clore_Abram...|
| 28|  Male|   Kizzy Brenner|    DB|381712|   36|Paris Hutton_Kena...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 29|  Male|  Celeste Lollis|   DSA|562065|   85|Jc Andrepont_Mela...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [114]:
df.dropDuplicates(["gender", "course", "age"]).count()

24

In [113]:
df.select("gender", "course", "age").distinct().show()

+------+------+---+
|gender|course|age|
+------+------+---+
|Female|   OOP| 29|
|  Male|   MVC| 28|
|Female|   MVC| 28|
|Female|    DB| 28|
|  Male|    PF| 29|
|  Male|   OOP| 29|
|Female|    PF| 28|
|Female|   DSA| 29|
|Female|    PF| 29|
|Female| Cloud| 29|
|Female|   DSA| 28|
|  Male|    DB| 28|
|  Male|    PF| 28|
|Female|    DB| 29|
|Female|   MVC| 29|
|  Male|   DSA| 28|
|  Male|   OOP| 28|
|  Male|   MVC| 29|
|Female| Cloud| 28|
|  Male|   DSA| 29|
+------+------+---+
only showing top 20 rows

In [115]:
df.select("gender", "course", "age").distinct().count()

24

## sort / orderBy no DataFrame

In [118]:
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [117]:
# ordernar em ordem crescente
df.sort("marks").show()

+---+------+-----------------+------+-------+-----+--------------------+
|age|gender|             name|course|   roll|marks|               email|
+---+------+-----------------+------+-------+-----+--------------------+
| 28|Female|   Maybell Duguay| Cloud| 261439|   20|Nicole Harwood_Ju...|
| 29|  Male|   Jalisa Swenson|   OOP|4751515|   20|Annika Hoffman_Hu...|
| 28|  Male|  Marylee Capasso|   DSA|2081560|   20|Sheryll Towler_Do...|
| 29|Female|  Gonzalo Ferebee|   DSA|5631172|   20|Jeannetta Golden_...|
| 29|  Male|Michelle Ruggiero|    PF|6001585|   20|Paris Hutton_Marg...|
| 29|  Male|     Elenore Choy|    DB|3652057|   20|Jc Andrepont_Gonz...|
| 29|Female|Michelle Ruggiero|    DB|9232210|   20|Donna Yerby_Latia...|
| 29|Female|   Tamera Blakley|   DSA|3911247|   20|Donna Yerby_Bonit...|
| 28|Female|     Jc Andrepont|    PF| 972733|   20|Eda Neathery_Eda ...|
| 28|  Male|      Abram Nagao| Cloud|2652463|   21|Eda Neathery_Anni...|
| 29|  Male|   Tamera Blakley|   OOP|7341268|   21|Anna Santos_Naoma...|
| 29|Female|  Gonzalo Ferebee|   OOP|2262603|   21|Bonita Higuera_Ch...|
| 28|  Male|    Kizzy Brenner| Cloud|4622328|   21|Leontine Phillips...|
| 29|  Male|  Sebrina Maresca| Cloud|5042394|   21|Donna Yerby_Miche...|
| 28|  Male|   Bonita Higuera| Cloud|7671835|   21|Taryn Brownlee_Se...|
| 29|Female|   Nicole Harwood|    PF|8121198|   21|Bonita Higuera_Pr...|
| 29|Female|   Alberta Freund|   OOP|4501424|   21|Toshiko Hillyard_...|
| 28|Female|  Sebrina Maresca|    PF|5742239|   21|Bonita Higuera_Se...|
| 28|  Male|      Billi Clore|    DB|9151306|   21|Latia Vanhoose_Er...|
| 29|  Male|     Paris Hutton|   MVC| 752504|   22|Elenore Choy_Elen...|
+---+------+-----------------+------+-------+-----+--------------------+
only showing top 20 rows

In [119]:
# ordenando na sequencia determinada: Primeiro pelas marks depois pela idade
df.sort("marks", "age").show()

+---+------+-----------------+------+-------+-----+--------------------+
|age|gender|             name|course|   roll|marks|               email|
+---+------+-----------------+------+-------+-----+--------------------+
| 28|  Male|  Marylee Capasso|   DSA|2081560|   20|Sheryll Towler_Do...|
| 28|Female|   Maybell Duguay| Cloud| 261439|   20|Nicole Harwood_Ju...|
| 28|Female|     Jc Andrepont|    PF| 972733|   20|Eda Neathery_Eda ...|
| 29|Female|   Tamera Blakley|   DSA|3911247|   20|Donna Yerby_Bonit...|
| 29|  Male|   Jalisa Swenson|   OOP|4751515|   20|Annika Hoffman_Hu...|
| 29|Female|  Gonzalo Ferebee|   DSA|5631172|   20|Jeannetta Golden_...|
| 29|  Male|Michelle Ruggiero|    PF|6001585|   20|Paris Hutton_Marg...|
| 29|Female|Michelle Ruggiero|    DB|9232210|   20|Donna Yerby_Latia...|
| 29|  Male|     Elenore Choy|    DB|3652057|   20|Jc Andrepont_Gonz...|
| 28|  Male|      Abram Nagao| Cloud|2652463|   21|Eda Neathery_Anni...|
| 28|  Male|   Bonita Higuera| Cloud|7671835|   21|Taryn Brownlee_Se...|
| 28|Female|  Sebrina Maresca|    PF|5742239|   21|Bonita Higuera_Se...|
| 28|  Male|    Kizzy Brenner| Cloud|4622328|   21|Leontine Phillips...|
| 28|  Male|      Billi Clore|    DB|9151306|   21|Latia Vanhoose_Er...|
| 29|  Male|  Sebrina Maresca| Cloud|5042394|   21|Donna Yerby_Miche...|
| 29|Female|  Gonzalo Ferebee|   OOP|2262603|   21|Bonita Higuera_Ch...|
| 29|  Male|   Tamera Blakley|   OOP|7341268|   21|Anna Santos_Naoma...|
| 29|Female|   Alberta Freund|   OOP|4501424|   21|Toshiko Hillyard_...|
| 29|Female|   Nicole Harwood|    PF|8121198|   21|Bonita Higuera_Pr...|
| 28|Female|     Cheri Kenney| Cloud|2281771|   22|Tamera Blakley_Ab...|
+---+------+-----------------+------+-------+-----+--------------------+
only showing top 20 rows

In [120]:
#outra notação
df.sort(df.marks, df.age).show()

+---+------+-----------------+------+-------+-----+--------------------+
|age|gender|             name|course|   roll|marks|               email|
+---+------+-----------------+------+-------+-----+--------------------+
| 28|  Male|  Marylee Capasso|   DSA|2081560|   20|Sheryll Towler_Do...|
| 28|Female|   Maybell Duguay| Cloud| 261439|   20|Nicole Harwood_Ju...|
| 28|Female|     Jc Andrepont|    PF| 972733|   20|Eda Neathery_Eda ...|
| 29|Female|   Tamera Blakley|   DSA|3911247|   20|Donna Yerby_Bonit...|
| 29|  Male|   Jalisa Swenson|   OOP|4751515|   20|Annika Hoffman_Hu...|
| 29|Female|  Gonzalo Ferebee|   DSA|5631172|   20|Jeannetta Golden_...|
| 29|  Male|Michelle Ruggiero|    PF|6001585|   20|Paris Hutton_Marg...|
| 29|Female|Michelle Ruggiero|    DB|9232210|   20|Donna Yerby_Latia...|
| 29|  Male|     Elenore Choy|    DB|3652057|   20|Jc Andrepont_Gonz...|
| 28|  Male|      Abram Nagao| Cloud|2652463|   21|Eda Neathery_Anni...|
| 28|  Male|   Bonita Higuera| Cloud|7671835|   21|Taryn Brownlee_Se...|
| 28|Female|  Sebrina Maresca|    PF|5742239|   21|Bonita Higuera_Se...|
| 28|  Male|    Kizzy Brenner| Cloud|4622328|   21|Leontine Phillips...|
| 28|  Male|      Billi Clore|    DB|9151306|   21|Latia Vanhoose_Er...|
| 29|  Male|  Sebrina Maresca| Cloud|5042394|   21|Donna Yerby_Miche...|
| 29|Female|  Gonzalo Ferebee|   OOP|2262603|   21|Bonita Higuera_Ch...|
| 29|  Male|   Tamera Blakley|   OOP|7341268|   21|Anna Santos_Naoma...|
| 29|Female|   Alberta Freund|   OOP|4501424|   21|Toshiko Hillyard_...|
| 29|Female|   Nicole Harwood|    PF|8121198|   21|Bonita Higuera_Pr...|
| 28|Female|     Cheri Kenney| Cloud|2281771|   22|Tamera Blakley_Ab...|
+---+------+-----------------+------+-------+-----+--------------------+
only showing top 20 rows

In [122]:
# ordenando ascendente ou descendente

df.sort(df.marks.asc(), df.age.desc()).show()

+---+------+-----------------+------+-------+-----+--------------------+
|age|gender|             name|course|   roll|marks|               email|
+---+------+-----------------+------+-------+-----+--------------------+
| 29|Female|Michelle Ruggiero|    DB|9232210|   20|Donna Yerby_Latia...|
| 29|  Male|     Elenore Choy|    DB|3652057|   20|Jc Andrepont_Gonz...|
| 29|  Male|   Jalisa Swenson|   OOP|4751515|   20|Annika Hoffman_Hu...|
| 29|Female|  Gonzalo Ferebee|   DSA|5631172|   20|Jeannetta Golden_...|
| 29|Female|   Tamera Blakley|   DSA|3911247|   20|Donna Yerby_Bonit...|
| 29|  Male|Michelle Ruggiero|    PF|6001585|   20|Paris Hutton_Marg...|
| 28|Female|   Maybell Duguay| Cloud| 261439|   20|Nicole Harwood_Ju...|
| 28|  Male|  Marylee Capasso|   DSA|2081560|   20|Sheryll Towler_Do...|
| 28|Female|     Jc Andrepont|    PF| 972733|   20|Eda Neathery_Eda ...|
| 29|  Male|  Sebrina Maresca| Cloud|5042394|   21|Donna Yerby_Miche...|
| 29|Female|   Nicole Harwood|    PF|8121198|   21|Bonita Higuera_Pr...|
| 29|  Male|   Tamera Blakley|   OOP|7341268|   21|Anna Santos_Naoma...|
| 29|Female|   Alberta Freund|   OOP|4501424|   21|Toshiko Hillyard_...|
| 29|Female|  Gonzalo Ferebee|   OOP|2262603|   21|Bonita Higuera_Ch...|
| 28|  Male|    Kizzy Brenner| Cloud|4622328|   21|Leontine Phillips...|
| 28|  Male|   Bonita Higuera| Cloud|7671835|   21|Taryn Brownlee_Se...|
| 28|  Male|      Abram Nagao| Cloud|2652463|   21|Eda Neathery_Anni...|
| 28|Female|  Sebrina Maresca|    PF|5742239|   21|Bonita Higuera_Se...|
| 28|  Male|      Billi Clore|    DB|9151306|   21|Latia Vanhoose_Er...|
| 29|Female|   Maybell Duguay|   MVC|1102536|   22|Somer Stoecker_Ma...|
+---+------+-----------------+------+-------+-----+--------------------+
only showing top 20 rows

In [123]:
# utilizando o orderBy

#sort é mais utilizado em inteiro

#orderBy é mais utilizado por orderBy

df.orderBy(df.marks.asc(), df.age.desc()).show()

+---+------+-----------------+------+-------+-----+--------------------+
|age|gender|             name|course|   roll|marks|               email|
+---+------+-----------------+------+-------+-----+--------------------+
| 29|Female|Michelle Ruggiero|    DB|9232210|   20|Donna Yerby_Latia...|
| 29|  Male|     Elenore Choy|    DB|3652057|   20|Jc Andrepont_Gonz...|
| 29|  Male|   Jalisa Swenson|   OOP|4751515|   20|Annika Hoffman_Hu...|
| 29|Female|  Gonzalo Ferebee|   DSA|5631172|   20|Jeannetta Golden_...|
| 29|Female|   Tamera Blakley|   DSA|3911247|   20|Donna Yerby_Bonit...|
| 29|  Male|Michelle Ruggiero|    PF|6001585|   20|Paris Hutton_Marg...|
| 28|Female|   Maybell Duguay| Cloud| 261439|   20|Nicole Harwood_Ju...|
| 28|  Male|  Marylee Capasso|   DSA|2081560|   20|Sheryll Towler_Do...|
| 28|Female|     Jc Andrepont|    PF| 972733|   20|Eda Neathery_Eda ...|
| 29|  Male|  Sebrina Maresca| Cloud|5042394|   21|Donna Yerby_Miche...|
| 29|Female|   Nicole Harwood|    PF|8121198|   21|Bonita Higuera_Pr...|
| 29|  Male|   Tamera Blakley|   OOP|7341268|   21|Anna Santos_Naoma...|
| 29|Female|   Alberta Freund|   OOP|4501424|   21|Toshiko Hillyard_...|
| 29|Female|  Gonzalo Ferebee|   OOP|2262603|   21|Bonita Higuera_Ch...|
| 28|  Male|    Kizzy Brenner| Cloud|4622328|   21|Leontine Phillips...|
| 28|  Male|   Bonita Higuera| Cloud|7671835|   21|Taryn Brownlee_Se...|
| 28|  Male|      Abram Nagao| Cloud|2652463|   21|Eda Neathery_Anni...|
| 28|Female|  Sebrina Maresca|    PF|5742239|   21|Bonita Higuera_Se...|
| 28|  Male|      Billi Clore|    DB|9151306|   21|Latia Vanhoose_Er...|
| 29|Female|   Maybell Duguay|   MVC|1102536|   22|Somer Stoecker_Ma...|
+---+------+-----------------+------+-------+-----+--------------------+
only showing top 20 rows

In [124]:
df.orderBy(df.name.asc(), df.age.desc()).show()

+---+------+--------------+------+-------+-----+--------------------+
|age|gender|          name|course|   roll|marks|               email|
+---+------+--------------+------+-------+-----+--------------------+
| 29|Female|   Abram Nagao|   DSA|2041248|   72|Latia Vanhoose_Ke...|
| 29|  Male|   Abram Nagao|    DB|2841061|   25|Leontine Phillips...|
| 29|  Male|   Abram Nagao| Cloud|4531204|   50|Loris Crossett_Se...|
| 29|Female|   Abram Nagao|   DSA|1181007|   57|Anna Santos_Anna ...|
| 29|  Male|   Abram Nagao|   DSA|5022738|   42|Margene Moores_La...|
| 29|Female|   Abram Nagao|    PF|6182152|   50|Santa Kerfien_Cla...|
| 29|  Male|   Abram Nagao|   MVC| 962235|   32|Jenna Montague_Go...|
| 29|Female|   Abram Nagao| Cloud|9422898|   38|Cheri Kenney_Sant...|
| 29|Female|   Abram Nagao|    PF|9711154|   23|Judie Chipps_Naom...|
| 29|  Male|   Abram Nagao|    PF|1112161|   42|Nicole Harwood_Ni...|
| 28|Female|   Abram Nagao|    DB|2632057|   25|Margene Moores_So...|
| 28|  Male|   Abram Nagao|   DSA|1382959|   66|Michelle Ruggiero...|
| 28|  Male|   Abram Nagao| Cloud|2652463|   21|Eda Neathery_Anni...|
| 28|Female|   Abram Nagao| Cloud|2811189|   54|Kena Wild_Donna Y...|
| 28|Female|   Abram Nagao| Cloud|5301859|   50|Elenore Choy_Clau...|
| 28|  Male|   Abram Nagao|   DSA|3781521|   45|Taryn Brownlee_Mi...|
| 28|  Male|   Abram Nagao|   OOP|5571082|   85|Santa Kerfien_Jal...|
| 29|Female|Alberta Freund|   DSA|4152288|   78|Elenore Choy_Lawa...|
| 29|  Male|Alberta Freund|   DSA|2341989|   68|Jeannetta Golden_...|
| 29|  Male|Alberta Freund|   OOP|1841931|   37|Jenna Montague_Ta...|
+---+------+--------------+------+-------+-----+--------------------+
only showing top 20 rows


## groupBy em uma unica coluna no DataFrame

In [128]:
#cria um grupo e elemento de agregação
df.groupBy("gender").sum("marks").show()

+------+----------+
|gender|sum(marks)|
+------+----------+
|Female|     29636|
|  Male|     30461|
+------+----------+

In [132]:
df.groupBy("gender").count().show()
df.groupBy("course").count().show()
df.groupBy("course").sum("marks").show()

+------+-----+
|gender|count|
+------+-----+
|Female|  501|
|  Male|  499|
+------+-----+

+------+-----+
|course|count|
+------+-----+
|    PF|  166|
|    DB|  157|
|   MVC|  157|
|   DSA|  176|
| Cloud|  192|
|   OOP|  152|
+------+-----+

+------+----------+
|course|sum(marks)|
+------+----------+
|    PF|      9933|
|    DB|      9270|
|   MVC|      9585|
|   DSA|     10950|
| Cloud|     11443|
|   OOP|      8916|
+------+----------+

In [135]:
#agrupar por máximo e minimo
df.groupBy("gender").max("marks").show()
df.groupBy("course").max("marks").show()
df.groupBy("gender").min("marks").show()
df.groupBy("course").min("marks").show()

+------+----------+
|gender|max(marks)|
+------+----------+
|Female|        99|
|  Male|        99|
+------+----------+

+------+----------+
|course|max(marks)|
+------+----------+
|    PF|        99|
|    DB|        98|
|   MVC|        99|
|   DSA|        99|
| Cloud|        99|
|   OOP|        99|
+------+----------+

+------+----------+
|gender|min(marks)|
+------+----------+
|Female|        20|
|  Male|        20|
+------+----------+

+------+----------+
|course|min(marks)|
+------+----------+
|    PF|        20|
|    DB|        20|
|   MVC|        22|
|   DSA|        20|
| Cloud|        20|
|   OOP|        20|
+------+----------+

In [137]:
#groupBy por medias
df.groupBy("age").avg("marks").show()
df.groupBy("course").avg("marks").show()

+---+------------------+
|age|        avg(marks)|
+---+------------------+
| 28|60.487854251012145|
| 29|59.715415019762844|
+---+------------------+

+------+------------------+
|course|        avg(marks)|
+------+------------------+
|    PF| 59.83734939759036|
|    DB|59.044585987261144|
|   MVC| 61.05095541401274|
|   DSA| 62.21590909090909|
| Cloud|59.598958333333336|
|   OOP|  58.6578947368421|
+------+------------------+

In [139]:
df.groupBy("gender").mean("marks").show()
df.groupBy("course").mean("marks").show()

+------+------------------+
|gender|        avg(marks)|
+------+------------------+
|Female|59.153692614770456|
|  Male| 61.04408817635271|
+------+------------------+

+------+------------------+
|course|        avg(marks)|
+------+------------------+
|    PF| 59.83734939759036|
|    DB|59.044585987261144|
|   MVC| 61.05095541401274|
|   DSA| 62.21590909090909|
| Cloud|59.598958333333336|
|   OOP|  58.6578947368421|
+------+------------------+

## groupBy em multiplas coluna no DataFrame

In [142]:
df.groupBy("course").count().show()
df.groupBy("course", "gender").count().orderBy("course").show()

+------+-----+
|course|count|
+------+-----+
|    PF|  166|
|    DB|  157|
|   MVC|  157|
|   DSA|  176|
| Cloud|  192|
|   OOP|  152|
+------+-----+

+------+------+-----+
|course|gender|count|
+------+------+-----+
| Cloud|  Male|   86|
| Cloud|Female|  106|
|    DB|Female|   75|
|    DB|  Male|   82|
|   DSA|  Male|   78|
|   DSA|Female|   98|
|   MVC|Female|   71|
|   MVC|  Male|   86|
|   OOP|  Male|   70|
|   OOP|Female|   82|
|    PF|  Male|   97|
|    PF|Female|   69|
+------+------+-----+

In [143]:
from pyspark.sql.functions import sum, avg, max, min, mean, count

In [154]:
# * considera todas as colunas 
# como calcular tudo de uma vez
df.groupBy("course", "gender").agg(count("*")\
                                   .alias("total_enrllments"),\
                                   sum("marks").alias("total_marks"),\
                                   min("marks").alias("min_marks"),\
                                   max("marks").alias("max_marks"),\
                                   avg("marks").alias("avg_marks"))\
                                   .orderBy("course").show()

+------+------+----------------+-----------+---------+---------+------------------+
|course|gender|total_enrllments|total_marks|min_marks|max_marks|         avg_marks|
+------+------+----------------+-----------+---------+---------+------------------+
| Cloud|  Male|              86|       5127|       21|       97|59.616279069767444|
| Cloud|Female|             106|       6316|       20|       99| 59.58490566037736|
|    DB|  Male|              82|       5073|       20|       98| 61.86585365853659|
|    DB|Female|              75|       4197|       20|       96|             55.96|
|   DSA|Female|              98|       6124|       20|       99| 62.48979591836735|
|   DSA|  Male|              78|       4826|       20|       99| 61.87179487179487|
|   MVC|Female|              71|       4344|       22|       99|61.183098591549296|
|   MVC|  Male|              86|       5241|       22|       99| 60.94186046511628|
|   OOP|Female|              82|       4682|       21|       99| 57.09756097560975|
|   OOP|  Male|              70|       4234|       20|       99| 60.48571428571429|
|    PF|  Male|              97|       5960|       20|       99| 61.44329896907217|
|    PF|Female|              69|       3973|       20|       99| 57.57971014492754|
+------+------+----------------+-----------+---------+---------+------------------+

In [155]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit
from pyspark.sql.functions import sum, avg, max, min, mean, count
spark = SparkSession.builder.appName("Spark DataFrames").getOrCreate()
df = spark.read.options(header = 'True', inferSchema = 'True').csv('/content/drive/MyDrive/PySpark/data/OfficeData.csv')
df.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [156]:
df.groupBy("department").count().show()

+----------+-----+
|department|count|
+----------+-----+
|     Sales|    3|
|   Finance|    4|
| Marketing|    2|
+----------+-----+

In [159]:
df.groupBy("department").sum('salary').show()

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|     Sales|     257000|
|   Finance|     351000|
| Marketing|     171000|
+----------+-----------+

In [161]:
df.groupBy("department").agg(sum('salary'), min('salary')).show()

+----------+-----------+-----------+
|department|sum(salary)|min(salary)|
+----------+-----------+-----------+
|     Sales|     257000|      81000|
|   Finance|     351000|      79000|
| Marketing|     171000|      80000|
+----------+-----------+-----------+

In [163]:
#Criando multiplos grupos

df.groupBy("department", "state").agg(count('*')).show()

+----------+-----+--------+
|department|state|count(1)|
+----------+-----+--------+
|   Finance|   NY|       2|
| Marketing|   NY|       1|
|     Sales|   CA|       1|
| Marketing|   CA|       1|
|   Finance|   CA|       2|
|     Sales|   NY|       2|
+----------+-----+--------+

### filter no groupBy

In [164]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit
from pyspark.sql.functions import sum, avg, max, min, mean, count
spark = SparkSession.builder.appName("Spark DataFrames").getOrCreate()
df = spark.read.options(header = 'True', inferSchema = 'True').csv('/content/drive/MyDrive/PySpark/data/StudentData.csv')
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [169]:
df2 = df.filter(df.gender == "Male")
df2.groupBy("gender").agg((count('*'))).show()
df2.show()

+------+--------+
|gender|count(1)|
+------+--------+
|  Male|     499|
+------+--------+

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|  Male| Hubert Oliveras|   OOP|351719|   63|Lawanda Wohlwend_...|
| 28|  Male| Sebrina Maresca|    PF|361316|   62|Nicole Harwood_La...|
| 29|  Male|  Jalisa Swenson|    PF|372873|   45|Ernest Rossbach_T...|
| 28|  Male|   Kizzy Brenner|    DB|381712|   36|Paris Hutton_Kena...|
| 28|  Male|Toshiko Hillyard|    DB|392218|   47|Leontine Phillips...|
| 28|  Male|    Elenore Choy|    PF|422704|   66|Marylee Capasso_N...|
| 28|  Male|  Dustin Feagins|    PF|461839|   51|Neda Briski_Eleno...|
| 29|  Male|  Annika Hoffman|   OOP|472550|   35|Mitzi Seldon_Abra...|
| 29|  Male|    Paris Hutton|    DB|481229|   57|Clementina Menke_...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [173]:
df3 = df2.groupBy("course", "gender").agg((count('*').alias("total_enrollments")))
df3.show()

+------+------+-----------------+
|course|gender|total_enrollments|
+------+------+-----------------+
|   OOP|  Male|               70|
|    DB|  Male|               82|
|   MVC|  Male|               86|
|    PF|  Male|               97|
| Cloud|  Male|               86|
|   DSA|  Male|               78|
+------+------+-----------------+

In [175]:
# outra maneira de aplicar filtro
df3.where(df3.total_enrollments > 85).show()
df3.filter(df3.total_enrollments > 85).show()

+------+------+-----------------+
|course|gender|total_enrollments|
+------+------+-----------------+
|   MVC|  Male|               86|
|    PF|  Male|               97|
| Cloud|  Male|               86|
+------+------+-----------------+

+------+------+-----------------+
|course|gender|total_enrollments|
+------+------+-----------------+
|   MVC|  Male|               86|
|    PF|  Male|               97|
| Cloud|  Male|               86|
+------+------+-----------------+

In [178]:
df.filter(df.gender == "Male").groupBy("course", "gender").agg(count('*').alias("total_enrollments")).show()

+------+------+-----------------+
|course|gender|total_enrollments|
+------+------+-----------------+
|   OOP|  Male|               70|
|    DB|  Male|               82|
|   MVC|  Male|               86|
|    PF|  Male|               97|
| Cloud|  Male|               86|
|   DSA|  Male|               78|
+------+------+-----------------+

In [184]:
df.filter(df.gender == "Male").groupBy("course", "gender").agg(count('*').alias("total_enrollments")).filter(col("total_enrollments") > 85).show()

+------+------+-----------------+
|course|gender|total_enrollments|
+------+------+-----------------+
|   MVC|  Male|               86|
|    PF|  Male|               97|
| Cloud|  Male|               86|
+------+------+-----------------+

# Exemplos

* Exibe o número total de alunos matriculados em cada curso
* Exibe o número total de alunos do sexo masculino e feminino matriculados em cada curso
* Exibir o total de notas alcançadas por cada gênero em cada curso
* Exibir as notas mínimas, máximas e médias alcançadas em cada curso por cada faixa etária

In [185]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit
from pyspark.sql.functions import sum, avg, max, min, mean, count
spark = SparkSession.builder.appName("Spark DataFrames").getOrCreate()
df = spark.read.options(header = 'True', inferSchema = 'True').csv('/content/drive/MyDrive/PySpark/data/StudentData.csv')
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [186]:
df.groupBy("course").count().show()

+------+-----+
|course|count|
+------+-----+
|    PF|  166|
|    DB|  157|
|   MVC|  157|
|   DSA|  176|
| Cloud|  192|
|   OOP|  152|
+------+-----+

In [188]:
df.groupBy("course", "gender").count().orderBy("course").show()

+------+------+-----+
|course|gender|count|
+------+------+-----+
| Cloud|  Male|   86|
| Cloud|Female|  106|
|    DB|  Male|   82|
|    DB|Female|   75|
|   DSA|Female|   98|
|   DSA|  Male|   78|
|   MVC|  Male|   86|
|   MVC|Female|   71|
|   OOP|  Male|   70|
|   OOP|Female|   82|
|    PF|  Male|   97|
|    PF|Female|   69|
+------+------+-----+

In [190]:
df.groupby("gender").agg(sum("marks").alias("total_marks")).show()

+------+-----------+
|gender|total_marks|
+------+-----------+
|Female|      29636|
|  Male|      30461|
+------+-----------+

In [192]:
df.groupby("age", "course").agg( min("marks").alias("min_marks"), max("marks").alias("max_marks"),avg("marks").alias("average_marks") ).orderBy("course").show()

+---+------+---------+---------+------------------+
|age|course|min_marks|max_marks|     average_marks|
+---+------+---------+---------+------------------+
| 28| Cloud|       20|       99|             58.08|
| 29| Cloud|       21|       98|             61.25|
| 28|    DB|       21|       98| 58.76829268292683|
| 29|    DB|       20|       98|59.346666666666664|
| 29|   DSA|       20|       99| 60.01075268817204|
| 28|   DSA|       20|       99|  64.6867469879518|
| 28|   MVC|       23|       99| 60.44444444444444|
| 29|   MVC|       22|       99| 61.56470588235294|
| 29|   OOP|       20|       99|59.729729729729726|
| 28|   OOP|       23|       99| 57.64102564102564|
| 28|    PF|       20|       98| 63.75949367088607|
| 29|    PF|       20|       99|56.275862068965516|
+---+------+---------+---------+------------------+